.formm{
    text-align: center;


}
.form{
    max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
           
}
div{
    margin-bottom: 25px;
}
#name{
    height:120px; width:200px;
}